<div class="createbackground">
  
</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form" id="createform">
      <h2>Sign up</h2>
    
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :subscription_type %><br />
        <%= f.select :subscription_type, ["Basic", "Premium"] %> <br>
        <i>Premium workout will be available within 3 days.</i>
      </div>
  
      <div class="field">
        <%= f.label :home_gym %><br />
        <%= f.text_field :home_gym %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div> <br>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="business" value="jswen15@gmail.com">
        <input type="hidden" name="lc" value="AN">
        <input type="hidden" name="item_name" value="Subscription">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="a1" value="0.00">
        <input type="hidden" name="p1" value="1">
        <input type="hidden" name="t1" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
        <table>
        <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
          <option value="Basic">Basic : $8.00 USD - monthly</option>
          <option value="Premium">Premium : $15.00 USD - monthly</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="option_select0" value="Basic">
        <input type="hidden" name="option_amount0" value="8.00">
        <input type="hidden" name="option_period0" value="M">
        <input type="hidden" name="option_frequency0" value="1">
        <input type="hidden" name="option_select1" value="Premium">
        <input type="hidden" name="option_amount1" value="15.00">
        <input type="hidden" name="option_period1" value="M">
        <input type="hidden" name="option_frequency1" value="1">
        <input type="hidden" name="option_index" value="0">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

      
      <%= f.hidden_field :trainer_id, value:1 %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn", id: "signup" %>
      </div>
      <%= render "athletes/shared/links" %>
    </div>
  <% end %>
