<div class="row" id="newtemplateform">
	<div class="templateform col-md-6">
		<%= render 'exercises/all_exercises' %>
	</div>

		<div class="col-md-6" id="new_templates">
			<%= form_for (@new_template), {:class => "template_form"}  do |f| %>

			  <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name, autofocus: true %>
			  </div>
				
				<div id="day1" class="day" data-day="1">
					Day 1
				</div>

				<div id="day2" class="day" data-day="2">
					Day 2
				</div>

				<div id="day3" class="day" data-day="3">
					Day 3
				</div>

				<div id="day4" class="day" data-day="4">
					Day 4
				</div>

				<div id="day5" class="day" data-day="5">
					Day 5
				</div>
				
				<%= hidden_field_tag( "athlete_id", @athlete.id) %>

			  <div class="actions">
			    <%= f.submit "Save", class: "btn" %>
			  </div>

			<% end %>
		</div>
</div>
