<% if athlete_signed_in? %>
	<div class="dashboard">
		<div class="row">
			<div class="card col-md-4" id="athlete_info">
			<h1><%= @athlete.first_name %> <%= @athlete.last_name %></h1>
			<i>Click to edit info</i>
				<div class="info">
				<h1></h1>
					<%= form_for(@athlete, :url => athlete_update_path) do |f| %>
						
					  <div class="field profile">
					    Home Gym: <%= f.text_field :home_gym %>
					  </div>

					  <div class="field profile">
					    Age: <%= f.text_field :age %>
					  </div>

					  <div class="field profile">
					    Phone: <%= f.text_field :phone %>
					  </div>

					  <div class="field profile">
					    Email: <%= f.email_field :email %>
					  </div>

					  <div class="field profile">
					    Height: <%= f.text_field :height %>
					  </div>

					  <div class="field profile">
					    Weight: <%= f.text_field :weight %>
					  </div>

					  <div class="field profile">
					    Goal Weight: <%= f.text_field :goal_weight %>
					  </div>

					   <div class="field profile">
					    Body Fat Range: <%= f.select :body_fat, ['0-5%', '10-15%', '20-25%', '25% +'], class: "select" %>
					  </div>

					  <div class="field profile">
					    Goal: <%= f.select :goal, ['Build Muscle', 'Lose Fat', 'Just Get To The Gym!'], class: "select" %>
					  </div>


					  <div class="field profile">
					    Days Per Week: <%= f.select :days_per_week, [3,4,5], class: "select" %>
					  </div>

					  <div class="field profile">
					    Days Per Week: <%= f.select :subscription_type, ["Basic", "Premium"], class: "select" %>
					  </div>

					  <div class="actions">
					    <%= f.submit "Update", class: "btn", id: "update" %>
					  </div> 

					  <%= link_to "Cancel my account", athlete_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn' %>
					<% end %>
				</div>
			</div>
				<div class="card col-md-4">	
				<h1><%= @template.name %></h1>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scheduleModal">
						  <h2>View Schedule</h2>
					</button> 
				</div>


			<div class="card col-md-4">
			<h1>Logged Workouts</h1>
				<div class="logged_workout">
				<% @athlete.last_seven_days.each do |logged_workout| %>
					<%= time_ago_in_words(logged_workout.created_at) %> ago <br>
					<%= logged_workout.exercise.name %> <br>
					Sets: <%= logged_workout.sets %>
					Reps: <%= logged_workout.rep_count %>
					Weight: <%= logged_workout.weight %> <br>
					<%= logged_workout.comment %>
					<hr>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-4">
				<h3>Questions</h3>
				<button type="button" class="btn btn-primary btn-sl" data-toggle="modal" data-target="#myQuestionModal" id="questionbtn">
						  <i>New Question</i>
				</button> <br>
				<% @athlete.questions.each do |question| %>
					<h3><%= question.content %></h3> <br>
					<% question.comments.each do |comment|  %>
						<%= comment.content %> <br>
					<% end %>
				
				<%= form_for (@comment) do |f| %>

				  <div class="field">
				    <%= f.text_area :content, class: "loginput" %>
				    <%= hidden_field_tag( "comment[question_id]",  question.id) %>
					<%= hidden_field_tag( "comment[athlete_id]",  @athlete.id) %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Save", class: "btn" %>
				  </div>

				<% end %>
			<% end %>
			</div>
			
			<div class="card col-md-4">
				<% if @athlete.goal == "Build Muscle" %>
					<h1>Macros to Bulk!</h1>
				<% elsif @athlete.goal == "Lose Fat" %>
					<h1>Macros to Lose Fat!</h1>
				<% else %>
					<h1>Suggested Macros</h1>
				<% end %>
				<h3 id="calories">Suggested Calories: <%= @athlete.calories %></h3>
				<h3 id="carbs">Suggested Carbs: <%= @athlete.carbs %></h3>
				<h3 id="protein">Suggested Protein: <%= @athlete.protein %></h3>
				<h3 id="fats">Suggested Fats: <%= @athlete.fats %></h3>

			</div>


			<div class="card col-md-4">
				<h1>Daily Nutrition Log</h1>
				<div class="macrolog">
					<input type="number" placeholder="Calories" id="caloriecounter"> <br> <br>
					<input type="number" placeholder="Carbs" id="carbcounter"> <br> <br>
					<input type="number" placeholder="Protien" id="proteincounter"> <br> <br>
					<input type="number" placeholder="Fats" id="fatcounter"> <br>
					<button class="btn" id="counterbtn">Submit</button>
				</div>
				<div class="dailymacros">
					<h3 id="caloriestoday"></h3>
					<h3 id="carbstoday"></h3>
					<h3 id="proteinstoday"></h3>
					<h3 id="fatstoday"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><h1><%= @template.name %></h1></h4>
	      </div>
	      <div class="modal-body">
				<%  @template_exercises.each do |day, exercises| %>
					<div class="schedule">
					<h2>Day <%= day %><%= link_to "Start Workout", athletes_workout_path(@template, day: day) %></h2>
						<% exercises.each do |exercise| %>
						  	<h3><%= exercise.name %></h3>
						  <% end %>
					</div>
				<% end %>        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><h1>Ask The Trainer A Question!</h1></h4>
	      </div>
	      <div class="modal-body">
			<%= form_for (@question) do |f| %>

			  <div class="field">
			    <%= f.label :content %><br />
			    <%= f.text_area :content %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Save", class: "btn" %>
			  </div>

			<% end %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<% else %>
	<div class="dashboard">
		<div class="row">
			<div class="card col-md-4" id="athlete_info">
			<h1><%= @athlete.first_name %> <%= @athlete.last_name %></h1>
			<h3>Weight: <%= @athlete.weight %></h3>
			<h3>Goal: <%= @athlete.goal %></h3>
			<h3>Goal Weight: <%= @athlete.goal_weight %></h3>
			<h3>Days Per Week: <%= @athlete.days_per_week %></h3>
			<h3>Gym: <%= @athlete.home_gym %></h3>
			</div>
				
			<div class="card col-md-4">
				<h1><%= @template.name %></h1>
			</div>

			<div class="card col-md-4">
			<h1>Logged Workouts</h1>
				<% @athlete.last_seven_days.each do |logged_workout| %>
					<%= time_ago_in_words(logged_workout.created_at) %> ago <br>
					<%= logged_workout.exercise.name %> <br>
					Sets: <%= logged_workout.sets %>
					Reps: <%= logged_workout.rep_count %>
					Weight: <%= logged_workout.weight %> <br>
					<%= logged_workout.comment %>
					<hr>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-4">
				<h3>Questions</h3>
				<% @athlete.questions.each do |question| %>
					<h3><%= question.content %></h3> 
					<% question.comments.each do |comment|  %>
						<%= comment.content %> <br>
					<% end %>
					<%= form_for (@comment) do |f| %>

					  <div class="field">
					    <%= f.text_area :content, class: "loginput" %>
					  </div>
						<%= hidden_field_tag( "comment[question_id]",  question.id) %>
						<%= hidden_field_tag( "comment[trainer_id]",  @trainer.id) %>
						<%= hidden_field_tag( "comment[athlete_id]",  @athlete.id) %>
					  <div class="actions">
					    <%= f.submit "Save Comment", class: "btn" %>
					  </div>

					<% end %>
				<% end %>
			</div>
			
			<div class="card col-md-4">
				<% if @athlete.goal == "Build Muscle" %>
					<h1>Macros to Bulk!</h1>
				<% elsif @athlete.goal == "Lose Fat" %>
					<h1>Macros to Lose Fat!</h1>
				<% else %>
					<h1>Suggested Macros</h1>
				<% end %>
				<h3>Suggested Calories: <%= @athlete.calories %></h3>
				<h3>Suggested Carbs: <%= @athlete.carbs %></h3>
				<h3>Suggested Protein: <%= @athlete.protein %></h3>
				<h3>Suggested Fats: <%= @athlete.fats %></h3>

			</div>


			<div class="card col-md-4">
					
			</div>
		</div>
	</div>

	<div id="templateform" class="hiddendivs">
		<button class="exit">X</button>
		<%= render 'templates/custom_template' %>
	</div>
	
<% end %>



