<% if athlete_signed_in? %>
	<div class="dashboard">
		<div class="row">
			<div class="card col-md-4" id="athlete_info">
			<h1><%= @athlete.first_name %> <%= @athlete.last_name %></h1>
			<i>Click to edit info</i>
				<div class="info">
				<h1></h1>
					<%= form_for(@athlete, :url => athlete_update_path) do |f| %>
						
					  <div class="field profile">
					    Home Gym: <%= f.text_field :home_gym %>
					  </div>

					  <div class="field profile">
					    Age: <%= f.text_field :age %>
					  </div>

					  <div class="field profile">
					    Phone: <%= f.text_field :phone %>
					  </div>

					  <div class="field profile">
					    Email: <%= f.email_field :email %>
					  </div>

					  <div class="field profile">
					    Height: <%= f.text_field :height %>
					  </div>

					  <div class="field profile">
					    Weight: <%= f.text_field :weight %>
					  </div>

					  <div class="field profile">
					    Goal Weight: <%= f.text_field :goal_weight %>
					  </div>

					   <div class="field profile">
					    Body Fat Range: <%= f.select :body_fat, ['0-5%', '10-15%', '20-25%', '25% +'], class: "select" %>
					  </div>

					  <div class="field profile">
					    Goal: <%= f.select :goal, ['Build Muscle', 'Lose Fat', 'Just Get To The Gym!'], class: "select" %>
					  </div>


					  <div class="field profile">
					    Days Per Week: <%= f.select :days_per_week, [3,4,5], class: "select" %>
					  </div>

					  <div class="field profile">
					    Days Per Week: <%= f.select :subscription_type, ["Basic", "Premium"], class: "select" %>
					  </div>

					  <div class="actions">
					    <%= f.submit "Update", class: "btn", id: "update" %>
					  </div> 

					  <%= link_to "Cancel my account", athlete_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn' %>
					<% end %>
				</div>
			</div>
				<div class="card col-md-4">	
				<h1><%= @template.name %></h1>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scheduleModal">
						  <h2>View Schedule</h2>
					</button> 
				</div>


			<div class="card col-md-4">
			<h1>Logged Workouts</h1>
				<div class="logged_workout">
				<% @athlete.last_seven_days.each do |logged_workout| %>
					<%= time_ago_in_words(logged_workout.created_at) %> ago <br>
					<%= logged_workout.exercise.name %> <br>
					Sets: <%= logged_workout.sets %>
					Reps: <%= logged_workout.rep_count %>
					Weight: <%= logged_workout.weight %> <br>
					<%= logged_workout.comment %>
					<hr>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-4">
				<h3>Questions</h3>
				<button type="button" class="btn btn-primary btn-sl" data-toggle="modal" data-target="#myQuestionModal" id="smallbutton">
						  <i>New Question</i>
				</button> <br>
				<% @athlete.questions.each do |question| %>
					<h3><%= question.content %></h3> <br>
					<% question.comments.each do |comment|  %>
						<%= comment.content %> <br>
					<% end %>
				
				<%= form_for (@comment) do |f| %>

				  <div class="field">
				    <%= f.text_area :content, class: "loginput" %>
				    <%= hidden_field_tag( "comment[question_id]",  question.id) %>
					<%= hidden_field_tag( "comment[athlete_id]",  @athlete.id) %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Save", class: "btn" %>
				  </div>

				<% end %>
			<% end %>
			</div>
			
			<div class="card col-md-4">
				<% if @athlete.goal == "Build Muscle" %>
					<h1>Make Your Gains!</h1>
				<% elsif @athlete.goal == "Lose Fat" %>
					<h1>Summers Coming!</h1>
				<% else %>
					<h1>Set A Goal</h1>
				<% end %>
				<h3>Suggested Calories: <%= @athlete.calories %></h3>
				<h3>Suggested Carbs: <%= @athlete.carbs %></h3>
				<h3>Suggested Protein: <%= @athlete.protein %></h3>
				<h3>Suggested Fats: <%= @athlete.fats %></h3>

			</div>


			<div class="card col-md-4">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<table>
						<tr><td><input type="hidden" name="on0" value="Plan Prices">Plan Prices</td></tr><tr><td><select name="os0">
							<option value="Basic">Basic $8.00 USD</option>
							<option value="Premium">Premium $15.00 USD</option>
						</select> </td></tr>
						</table>
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHsQYJKoZIhvcNAQcEoIIHojCCB54CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYClDyTQj79QxiVAHHOxYY1FYNcv21Xg2Jg9FVxLoSrlSrrzqOjdDNCzazT9mWBnOevp9COVsAcb1aamGnsYpvaOZ6CjO+ci1uGsorPoMk5WpSZ0Yg298DMVnFw+nSS2xsaphQFX2MznkpUl0KcfCz06WRTDNEOP7abVAqgQnH7BrTELMAkGBSsOAwIaBQAwggEtBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECOOaoOCeFcQkgIIBCND2815z9eCbOGkvMo5G1JG2U/rIcKak7Ze7xAt1HbUVSXV3M7S/uVi/J0sqXwbNZsrvU7Hl+IutpW9m3WmHX6WMJ4VYD1K4GtDSBh5F6t060aJyjaOtQagZCjjfgr9ShPWReSbJ+SwDMKcNqpoEfIJEx2h/Xv2TFe/bs21Hd705jdrL0NAY+ziJsA5Qt3saykB3ikH7TkHdXmz20LlkVQce7s/cEnDQ8eiaBuiaIne/nfYW1LQ4qaV7kduaVY7sHhDrVH6fxI3mndu/87on83MKPtjPYOyLJFfM6R96uBIY/7Wo1UgXiaA6S05gUyrPdtN9pGfl4Cb69/13AUjCwT5Y90H+HOxWfaCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDEyMzIwMjYwMlowIwYJKoZIhvcNAQkEMRYEFANMduyHCC0kuEUcU680C8nJyix9MA0GCSqGSIb3DQEBAQUABIGAcU/yBGp608DgMOVf7h4FcQKQn2K3Hj8+yQlgtpIV3b/CeM3c5ES8s4INdPj5N6HKXexeNEDSxRSXspt5m5iCxTaebLmVpD04NWJTujLzVXKGVZBrAWUd1q91rT02Y3w6hkB8iIGSJDnHGvyvBKWSt8e1x8uYGnkX7gWVnDA4yFk=-----END PKCS7-----
						">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>	
			</div>
		</div>
	</div>

	<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><h1><%= @template.name %></h1></h4>
	      </div>
	      <div class="modal-body">
				<%  @template_exercises.each do |day, exercises| %>
					<div class="schedule">
					<h2>Day <%= day %><%= link_to "Start Workout", athletes_workout_path(@template, day: day) %></h2>
						<% exercises.each do |exercise| %>
						  	<h3><%= exercise.name %></h3>
						  <% end %>
					</div>
				<% end %>        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><h1>Ask The Trainer A Question!</h1></h4>
	      </div>
	      <div class="modal-body">
			<%= form_for (@question) do |f| %>

			  <div class="field">
			    <%= f.label :content %><br />
			    <%= f.text_area :content %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Save", class: "btn" %>
			  </div>

			<% end %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<% else %>
	<div class="dashboard">
		<div class="row">
			<div class="card col-md-4" id="athlete_info">
			<h1><%= @athlete.first_name %> <%= @athlete.last_name %></h1>
			<h3>Weight: <%= @athlete.weight %></h3>
			<h3>Goal: <%= @athlete.goal %></h3>
			<h3>Goal Weight: <%= @athlete.goal_weight %></h3>
			<h3>Days Per Week: <%= @athlete.days_per_week %></h3>
			<h3>Gym: <%= @athlete.home_gym %></h3>
			</div>
				
			<div class="card col-md-4">
				<h1><%= @template.name %></h1>
			</div>

			<div class="card col-md-4">
			<h1>Logged Workouts</h1>
				<% @athlete.last_seven_days.each do |logged_workout| %>
					<%= time_ago_in_words(logged_workout.created_at) %> ago <br>
					<%= logged_workout.exercise.name %> <br>
					Sets: <%= logged_workout.sets %>
					Reps: <%= logged_workout.rep_count %>
					Weight: <%= logged_workout.weight %> <br>
					<%= logged_workout.comment %>
					<hr>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-4">
				<h3>Questions</h3>
				<% @athlete.questions.each do |question| %>
					<h3><%= question.content %></h3> 
					<% question.comments.each do |comment|  %>
						<%= comment.content %> <br>
					<% end %>
					<%= form_for (@comment) do |f| %>

					  <div class="field">
					    <%= f.text_area :content, class: "loginput" %>
					  </div>
						<%= hidden_field_tag( "comment[question_id]",  question.id) %>
						<%= hidden_field_tag( "comment[trainer_id]",  @trainer.id) %>
						<%= hidden_field_tag( "comment[athlete_id]",  @athlete.id) %>
					  <div class="actions">
					    <%= f.submit "Save Comment", class: "btn" %>
					  </div>

					<% end %>
				<% end %>
			</div>
			
			<div class="card col-md-4">
				<% if @athlete.goal == "Build Muscle" %>
					<h1>Make Your Gains!</h1>
				<% elsif @athlete.goal == "Lose Fat" %>
					<h1>Summers Coming!</h1>
				<% else %>
					<h1>Set A Goal</h1>
				<% end %>
				<h3>Suggested Calories: <%= @athlete.calories %></h3>
				<h3>Suggested Carbs: <%= @athlete.carbs %></h3>
				<h3>Suggested Protein: <%= @athlete.protein %></h3>
				<h3>Suggested Fats: <%= @athlete.fats %></h3>

			</div>


			<div class="card col-md-4">
				logged nutrition	
			</div>
		</div>
	</div>

	<div id="templateform" class="hiddendivs">
		<button class="exit">X</button>
		<%= render 'templates/custom_template' %>
	</div>
	
<% end %>



