<div class="updatebackground">

</div>
<div id="edit_athlete">
	<%= form_for(@athlete, :url => athlete_update_path)  do |f| %>
		<div class="form">
		  <div class="field">
		    <%= f.label :gender %><br />
		    <%= f.select :gender,["Male", "Female"], autofocus: true %>
		  </div>

		  <div class="field">
		    <%= f.label :age %><br />
		    <%= f.text_field :age%>
		  </div>

		  <div class="field">
		    <%= f.label :height %> <i>in inches</i><br />
		    <%= f.text_field :height %>
		  </div>

		  <div class="field">
		    <%= f.label :weight %> <i>in pounds</i> <br />
		    <%= f.text_field :weight %>
		  </div>

		   <div class="field">
		    <%= f.label :body_fat %><br />
		    <%= f.select :body_fat, ['0-5%', '10-15%', '20-25%', '25% +'] %>
		  </div>

		  <div class="field">
		    <%= f.label :goal_weight %><br />
		    <%= f.text_field :goal_weight %>
		  </div>

		  <div class="field">
		    <%= f.label :goal %><br />
		    <%= f.select :goal, ['Build Muscle', 'Lose Fat', 'Just Get To The Gym!'] %>
		  </div>

		  <div class="field">
		    <%= f.label :days_per_week %><br />
		    <%= f.select :days_per_week, [3,4,5] %>
		  </div>	  

		  <div class="actions">
		    <%= f.submit "Update", class: "btn", id: "updatebtn" %>
		  </div>
	  </div>
	<% end %>
</div>

