<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<div class="homebackground">
	
</div>


<div class="parallax-container">
    <div class="parallax"><img src="assets/deadliftbw.jpg">
    <div class="login" id="homelogin" >
	<% if athlete_signed_in? %>
		<%= link_to "Go To Dashboard",  athlete_index_path, class: "btn headbtn"  %>
	<% elsif trainer_signed_in? %>
		<%= link_to "Go To Dashboard",  trainer_index_path, class: "btn headbtn"  %>
	<% else %>
	<div align="center" class="loginform">
		<h2>Log in</h2>
		<%= form_for(:athlete, :url => session_path(:athlete)) do |f| %>
		  <%= f.text_field :email, placeholder: "Email", id: "login" %> <br>
		  <%= f.password_field :password, placeholder: "Password", id: "login" %> <br>
		  <%= f.check_box :remember_me %> 
		  <%= f.label :remember_me %> <br>
		  <%= f.submit 'Sign in', class: "btn", id: "signin" %>
		  <%= link_to 'Create Account', new_athlete_registration_path, class: "btn", id: "createbtn"  %> <br>
		  <%= link_to "Forgot your password?", new_password_path(:athlete)%>
		<% end %>
	</div>
	<% end %>
	
</div></div>
  </div>
  <div class="section white" id="about">
    <div class="row container">
      <h2 class="header">About Us</h2>
      <p class="grey-text text-darken-3 lighten-3">
		<h3>Basic:</h3><h4>For just $8 a month get access to a personal trainer, a workout to fit to your needs and macro nutrition goals to help you diet!</h4>
		<h3>Premium:</h3><h4>For $15 a month get everyting in the basic package, plus you can request custom workouts and priority response from the trainer!</h4></p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/bwgirl.jpg"></div>
</div>
