<div class="homebackground">
	
</div>
<div class="login" id="homelogin" >
	<% if athlete_signed_in? %>
		<%= link_to "Go To Dashboard",  athlete_index_path, class: "btn", id: "headbtn"  %>
	<% else %>
		<div class="loginform">
		<h2>Log in</h2>
		<%= form_for(:athlete, :url => session_path(:athlete)) do |f| %>
		  <%= f.text_field :email, placeholder: "Email", id: "login" %> <br>
		  <%= f.password_field :password, placeholder: "Password", id: "login" %> <br>
		  <%= f.check_box :remember_me %> 
		  <%= f.label :remember_me %> <br>
		  <%= f.submit 'Sign in', class: "btn", id: "signin" %>
		  <%= link_to 'Create Account', new_athlete_registration_path, class: "btn", id: "createbtn"  %> <br>
		  <%= link_to "Forgot your password?", new_password_path(:athlete)%>
		<% end %>
	</div>
	<% end %>
	
</div>

<div class="appinfo">
	<div align="center" class="aboutus">
		<h1>About Us</h1>
		<h3>Basic</h3><h4>For just $8 a month get access to a personal trainer, a workout to fit to your needs and macro nutrition goals to help you diet!</h4>
		<h3>Premium</h3><h4>For $15 a month get everyting in the basic package, plus you can request custom workouts and priority response from the trainer!</h4>
	</div>
</div>
