<div class="dashboard">
	<div class="row">
		
		<div class="trainer_card col-md-3" >
			<h1> My Athletes </h1>
			<% @athletes.each do |athlete| %>
				
				<%= link_to(  "#{athlete.first_name} #{athlete.last_name} ", athlete_index_path(id: athlete.id), :class => "btn") %> <br>
				
			<% end %>
		</div>

		<div class="trainer_card col-md-3">
			<h2>Create New Exercise</h2>
			<%= form_for(@exercise) do |f| %>

			  <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </div>

			  <div class="field">
			    <%= f.label :category %><br />
			    <%= f.select :category, ["Arms", "Legs", "Back", "Chest", "Core", "Shoulders"] %>
			  </div>

			  <div class="field">
			    <%= f.label :primary_muscle %><br />
			    <%= f.text_field :primary_muscle %>
			  </div>

			  <div class="field">
			    <%= f.label :secondary_muscle %><br />
			    <%= f.text_field :secondary_muscle %>
			  </div>

			  <div class="field">
			    <%= f.label :instruction %><br />
			    <%= f.text_area :instruction, class: "loginput" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Save", class: "btn" %>
			  </div>

			<% end %>
		</div>


	<div class="trainer_card col-md-3">
	<h1>Athletes Questions</h1>
		<% @athletes.each do |athlete| %>
		 	<% athlete.questions.each do |question| %>
				<% if !question.read %>
					<%= question.content %>
					<%= link_to('Visit Page', athlete_index_path(id: athlete.id), :id => "smallbutton") %>
				<% else %>
				<% end %>
			<% end %>
		<% end %>		
	</div>

	<div class="trainer_card col-md-3">
	<h1>All Templates</h1>
	<% @templates.each do |template| %>
		<h3> <%= template.name %></h3>
		<% @athletes.where(template_id: template.id).each do |athlete| %>
			<%= athlete.first_name %> <%= athlete.last_name %> <br>
		<% end %> <hr>
	<% end %>		
	</div>

	
</div>

