<!DOCTYPE html>
<html>
  <head>
    <title>FitApp</title>
    <%= csrf_meta_tags %>
    <meta content='<%= athlete_signed_in? ? current_athlete.id : "" %>' name='athlete-id'/>
    <meta content='<%= trainer_signed_in? ? current_trainer.id : "" %>' name='trainer-id'/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
  </head>

  <body>
  <header id="header">
    <h1 id="name"><%= link_to "getFit", root_path %></h1>
    <% if athlete_signed_in? %>
      <%= link_to "Sign Out",  destroy_athlete_session_path, method: :delete, class: "btn headbtn"%>
    <% elsif trainer_signed_in? %>
      <%= link_to "Sign Out",  destroy_trainer_session_path, method: :delete, class: "btn headbtn"%>
      <%= link_to "Back To Dashboard",  trainer_index_path, class: "btn headbtn"%>
      <button class="btn headbtn" id="templatebtn" >Create Template</button>
      <button class="btn headbtn" id="exercisebtn" >All Exercises</button>
    <% else %>
      
      <%= link_to "Trainer Sign In",  new_trainer_session_path, class: "btn", id: "trainerbtn"  %>
          <% end %>
  </header>
    <%= yield %>
  </body>
</html>
